{%load static%}
<footer class="wpo-site-footer">
    <div class="wpo-upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="widget about-widget">
                        <div class="logo widget-title">
                            <img src="{% static 'images/logo2.png'%}" alt="blog">
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which
                            don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="widget social-widget">
                        <div class="widget-title">
                            <h3>Соц.сети</h3>
                        </div>
                        <ul>
                            <li><a href="index.html#"><i><img src="{% static 'images/ft-icon/1.png'%}" alt=""></i> Facebook</a>
                            </li>
                            <li><a href="index.html#"><i><img src="{% static 'images/ft-icon/2.png'%}" alt=""></i> Twitter</a>
                            </li>
                            <li><a href="index.html#"><i><img src="{% static 'images/ft-icon/3.png'%}" alt=""></i> Instagram</a>
                            </li>
                            <li><a href="index.html#"><i><img src="{% static 'images/ft-icon/4.png'%}" alt=""></i> Youtube</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div>
